body {
    background-color: #bcf4e4;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.card {
    color: black; /* text color for all*/
    border-radius: 20px;
}

.header-label {
    /*background-color:red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
}

    .header-label label {
        font-weight: 100;
        background-color: white;
        border-radius: 15px 15px 0px 0px;
        position: relative;
        transform: translateY(-20%);
        padding: 10px 80px;
        line-height: 10px;
        width: max-content; /* Add this property */
        white-space: nowrap; /* Add this property */
    }

.input {
    margin: 1em 0 1em 0;
    position: relative;
    outline: none;
}

    .input input {
        font-size: 100%;
        border-radius: 10px;
        width: 100%;
        background-color: #f2f2f2;
        border: none;
    }

    .input label {
        font-size: 10px;
        position: absolute;
        left: 0;
        z-index: 8090;
        border-radius: 20px;
        color: black;
        transform: translateY(-50%);
        margin-left: 1.3em;
        background-color: white;
        padding: 0px 40px;
    }

    .input::placeholder {
        color: #9e9ea7;
    }

    .input:focus {
        background-color: red;
    }

    .input:focus, input:hover {
        outline: none;
        border-color: #1b5b6b;
        background-color: #f2f2f2; /* Retain the background color */
        box-shadow: 0 0 0 1px #1b5b6b;
    }
